<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="set_auth_id_observer">
        <observer name="set_auth_id" instance="M2e\M2eModule\Observer\SetAuthId"/>
    </event>
</config>
